body{
    background-image: url(./assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.navegacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgJs{
    width: 10%;
    margin: 4em;
    margin-left: -10em;
    border: 4px solid white;
}

h1{
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent;
    letter-spacing: 2px;
}

h5{
    padding: 5px 3px;
}

.card{
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.566);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.566);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.566);
}

.card:hover{
        transform: scale(1.02); 
}
