body{
    background-image: url(../../assets/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 15em;
    border-radius: 14px;
}

.botonRecarga{
    margin-top: 7em;
}

a{
    text-decoration: none !important;
}

.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
}

